
.*

!.gitignore
!/test/rust-project/.project
!/.clj-kondo/
/.clj-kondo/*
!/.clj-kondo/config.edn
!.cljfmt.edn
!lib/relay/shell-integration/zsh/.zshenv
!lib/relay/shell-integration/zsh/.zshrc
!/.cargo
!/.cargo/*
!/.github
!/.github/
!/.github/workflows
!/.github/workflows/**

/completions
/target
/memory-profiles
/*.AppImage
/rust-toolchain
*.code-workspace
/proc_macros/
/err.out
/.pre-commit-config.yaml
/dhat-heap.json
.lsp
.clj-kondo
.qlot

*.rlc
*.go
*.go.*
/tree-sitter/build
/tree-sitter/langs
/result
/fonts/JetBrainsMonoNerdFont.zip
/fonts/inter.zip

relay.err
relay.err.*
flamegraph.svg
out.txt
*.core
*.gdb.out
flamegraph*.svg
*.tmp.scm
work[0-9]/
